<div class="div">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga asperiores debitis, placeat odio corporis id numquam sequi
    molestias adipisci incidunt? Cum neque reiciendis quam aliquid?
</div>