<div class="container container-fluid position-absolute top-50 start-50 translate-middle">
    <div class="row justify-content-center  ">
        <div class="col-4 ">
            <form action="/liquidacion" method="GET" enctype="multipart/form-data">
                <div class="card card-body mx-auto input-group" style="width:400px">
                    <button class="btn btn-primary">
                        <h3>Ingreso liquidacion</h3>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-4">
            <form action="/preconceptos" method="GET" enctype="multipart/form-data">
                <div class="card card-body mx-auto input-group" style="width:400px">
                    <button class="btn btn-primary">
                        <h3>Preconceptos - SARHA</h3>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>